@{
    ViewBag.Title = "Add Object";
}
@model AddMyObjectModel
@using (Ajax.BeginForm("_AddObjectForm",
    new AjaxOptions
{
    UpdateTargetId = "AddObjectForm",
    HttpMethod = "POST",
    InsertionMode = InsertionMode.Replace,
    OnSuccess = "CloseOnSuccess"
}))
{
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.Created)
    @Html.HiddenFor(m => m.IsValid)
    <div class="modal-body">
        @Html.ValidationSummary(true)
        @Html.LabelFor(m => m.Name)
        @Html.EditorFor(m => m.Name)
        @Html.ValidationMessageFor(m => m.Name)
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <input type="submit" class="btn btn-success" value="Add" />
    </div>
}
